{namespace qx=Qinx\Qxanz\ViewHelpers}

<f:layout name="Default" />

<f:section name="Main">
	<qx:flashMessages/>

	<div class="row">
		<div class="col-sm-8">

			<qx:not condition="{game.player.colony}">
				<div>
					<f:link.action controller="Colony" action="create" class="button">Kolonie errichten</f:link.action>
				</div>
			</qx:not>

		</div>
		<div class="col-sm-4">

			<f:if condition="{game.players}">
				<div class="anz-game--players">
					<f:render partial="Player/Listing" arguments="{players: game.players}"/>
				</div>
			</f:if>

		</div>
	</div>

</f:section>